# 마린 데이터 설명

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline

from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)
matplotlib.rcParams['axes.unicode_minus']=False

In [2]:
from openpyxl import load_workbook

wb = load_workbook("marin.xlsx")
ws = wb['Sheet1']
g = ws.rows
cells = next(g)
keys = []
for cell in cells:
    keys.append(cell.value)
raw_data = []
for row in g:
    raw_data.append({ key : cell.value for key, cell in zip(keys, row)})
df = pd.DataFrame(raw_data)
a = [i for i in range(1990,2016)]
a.extend(["code", "country", "iso"])
df.columns = a
li = [i for i in range(1990,2016)]
li.insert(0, 'country')
li.insert(0, 'iso')
li.insert(0, 'code')
df = df[li]
df.head()

,code,iso,country,1990,1991,1992,1993,1994,1995,1996,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,4,AFG,Afghanistan,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,...,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000
1,8,ALB,Albania,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.3830,...,0.8138,0.8138,0.8138,0.8138,0.8138,0.8138,0.8138,0.8138,0.8138,0.8138
2,12,DZA,Algeria,0.0175,0.0175,0.0175,0.0175,0.0175,0.0175,0.0175,...,0.0376,0.0376,0.0376,0.0376,0.0376,0.0376,0.0381,0.0381,0.0381,0.0381
3,16,ASM,American Samoa,8.6824,8.6824,8.6824,8.6824,8.6824,8.6824,8.6824,...,8.6824,8.6824,8.6824,8.6824,8.6840,8.6840,8.6840,8.6840,8.6840,8.6840
4,20,AND,Andorra,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,...,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000

In [3]:
df.shape

(233, 29)

## WorldBank

In [4]:
wb = load_workbook("worldbank.xlsx")
ws = wb.active
g = ws.rows
cells = next(g)
keys = [cell.value for cell in cells]
raw_data = []
for row in g:
    raw_data.append({ key : cell.value for key, cell in zip(keys, row)})
bank = pd.DataFrame(raw_data)
bank.head()

  Code         Economy         Income group                      Region
0  AFG     Afghanistan           Low income                  South Asia
1  ALB         Albania  Upper middle income       Europe & Central Asia
2  DZA         Algeria  Upper middle income  Middle East & North Africa
3  ASM  American Samoa  Upper middle income         East Asia & Pacific
4  AND         Andorra          High income       Europe & Central Asia

In [5]:
mpa = pd.merge(df, bank[['Code','Income group', 'Region']], left_on = 'iso', right_on = 'Code')
mpa.head()

,code,iso,country,1990,1991,1992,1993,1994,1995,1996,...,2009,2010,2011,2012,2013,2014,2015,Code,Income group,Region
0,4,AFG,Afghanistan,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,...,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,AFG,Low income,South Asia
1,8,ALB,Albania,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.3830,...,0.8138,0.8138,0.8138,0.8138,0.8138,0.8138,0.8138,ALB,Upper middle income,Europe & Central Asia
2,12,DZA,Algeria,0.0175,0.0175,0.0175,0.0175,0.0175,0.0175,0.0175,...,0.0376,0.0376,0.0376,0.0381,0.0381,0.0381,0.0381,DZA,Upper middle income,Middle East & North Africa
3,16,ASM,American Samoa,8.6824,8.6824,8.6824,8.6824,8.6824,8.6824,8.6824,...,8.6824,8.6840,8.6840,8.6840,8.6840,8.6840,8.6840,ASM,Upper middle income,East Asia & Pacific
4,20,AND,Andorra,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,...,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,AND,High income,Europe & Central Asia

In [6]:
mpa.shape

(215, 32)

In [7]:
mismatching_country = set(df.country) - set(mpa.country)
len(mismatching_country), np.array(mismatching_country)

(18,
 array({'Mayotte', 'Svalbard and Jan Mayen Islands', 'Martinique', 'French Guiana', 'Niue', 'Reunion', 'Holy See', 'Falkland Islands', 'Cook Islands', 'Guadeloupe', 'Saint Pierre and Miquelon', 'Montserrat', 'Wallis and Futuna', 'Norfolk Island', 'Saint Helena', 'Anguilla', 'Pitcairn', 'Tokelau'},
       dtype=object))

## except -9999

In [8]:
except_9999 = mpa[mpa[mpa.columns[3:]].mean(axis=1) < -5000]
except_9999_list = except_9999.country.values

len(except_9999_list), except_9999_list

(47, array(['Afghanistan', 'Andorra', 'Armenia', 'Aruba', 'Austria', 'Belarus',
        'Bhutan', 'Bolivia', 'Botswana', 'Burkina Faso', 'Burundi',
        'Central African Republic', 'Chad', 'Curacao', 'Czech Republic',
        'Ethiopia', 'Guam', 'Hong Kong', 'Hungary', 'Isle of Man',
        'Kyrgyz Republic', 'Laos', 'Lesotho', 'Liechtenstein',
        'Luxembourg', 'Macao', 'Macedonia', 'Malawi', 'Mali', 'Moldova',
        'Mongolia', 'Nepal', 'Niger', 'Paraguay', 'Rwanda', 'San Marino',
        'Serbia', 'Slovakia', 'South Sudan', 'Palestine', 'Swaziland',
        'Switzerland', 'Tajikistan', 'Uganda', 'Uzbekistan', 'Zambia',
        'Zimbabwe'], dtype=object))

In [9]:
mpa = mpa[mpa[mpa.columns[3:]].mean(axis=1) > -5000]
mpa.shape

(168, 32)

## except 0

In [10]:
import sys
ep = sys.float_info.epsilon

except_0 = mpa[mpa[mpa.columns[3:]].mean(axis=1) < ep]
except_0_list = except_0.country.values

len(except_0_list), except_0_list

(17, array(['Azerbaijan', 'Benin', 'Bosnia and Herzegovina', 'Cape Verde',
        'Cyprus', 'Eritrea', 'The Gambia', 'Guyana', 'Haiti', 'Iraq',
        'Kazakhstan', 'Montenegro', 'Nauru', 'North Korea', 'Somalia',
        'Togo', 'Turkmenistan'], dtype=object))

In [11]:
mpa = mpa[mpa[mpa.columns[3:]].mean(axis=1) > ep]
mpa.shape

(151, 32)

In [12]:
import convergence

In [13]:
mpa.head(2)

,code,iso,country,1990,1991,1992,1993,1994,1995,1996,...,2009,2010,2011,2012,2013,2014,2015,Code,Income group,Region
1,8,ALB,Albania,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.3830,...,0.8138,0.8138,0.8138,0.8138,0.8138,0.8138,0.8138,ALB,Upper middle income,Europe & Central Asia
2,12,DZA,Algeria,0.0175,0.0175,0.0175,0.0175,0.0175,0.0175,0.0175,...,0.0376,0.0376,0.0376,0.0381,0.0381,0.0381,0.0381,DZA,Upper middle income,Middle East & North Africa

In [14]:
mpa2 = mpa[mpa[mpa.columns[3:]].mean(axis=1) > 0.1] # 1990~2015 데이터의 평균이 .1 이상
mpa3 = mpa[mpa[mpa.columns[3:]].mean(axis=1) > 0.5] # 1990~2015 데이터의 평균이 .5 이상

In [15]:
mpa2.shape, mpa3.shape

((104, 32), (71, 32))